.button{
    font-size: 20px;
    display: inline-block;
}

.Card-Img {
    width: 20em;
    height: 10em;
    display: inline-block;
    margin: auto;
    /*background-image: url("../img/dog.svg");*/
    /*!*height: 100%;*!*/
    /*background-position: top;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*width: 300px;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

.UserAuth-logo {
    width: 20em;
    height: 10em;
    display: block;
    margin: auto;
    /*background-image: url("../img/dog.svg");*/
    /*!*height: 100%;*!*/
    /*background-position: top;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*width: 300px;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}